pip==22.2.2
bumpversion==0.6.0
wheel==0.37.1
watchdog==2.1.9
flake8==5.0.4
tox==2.8.2
coverage==4.4.1
Sphinx==1.6.3
sphinx-rtd-theme==0.2.4
cryptography==2.0.3
PyYAML==3.12
pytest==3.2.2
pytest-runner==2.12.1
